Assets/MeloMelo_Data/
Assets/Resources/Database_CoverImage/
Assets/Resources/Database_Area/
Assets/Resources/Enemy_Data/
Assets/StreamingAssets/LocalData/MeloMelo_LocalPlayer_AuthenticateList/
Assets/StreamingAssets/LocalData/MeloMelo_LocalSave_ChartList/
Assets/StreamingAssets/LocalData/MeloMelo_LocalSave_InGameProgress/